@page
@model UserManagmentRazor.Areas.Role.Pages.IndexModel
@using UserManagmentRazor.Helpers.DTo.PermissionsDto
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Roles";
    // Retrieve allowed screens from session
    var allowedScreensJson = HttpContextAccessor.HttpContext.Session.GetString("AllowedScreens");
    var allowedScreens = string.IsNullOrEmpty(allowedScreensJson)
        ? new List<ScreenMenuResponseDto>()
        : JsonConvert.DeserializeObject<List<ScreenMenuResponseDto>>(allowedScreensJson);

    var allowedMainScreens = allowedScreens.Where(s => s.ParentId == null || s.ParentId == Guid.Empty).ToList();
    var allowedSubScreens = allowedScreens.Where(s => s.ParentId != null && s.ParentId != Guid.Empty).ToList();
}
@await Html.PartialAsync("_Breadcrumb", Model.Breadcrumbs)

@await Html.PartialAsync("_MessageAlert")

<h1>Roles</h1>
<ul>
    @foreach (var screen in allowedMainScreens)
    {
        if (screen.ScreenName.ToLower() == "role")
        {
            foreach (var subScreen in allowedSubScreens)
            {
                if(subScreen.ParentId == screen.ScreenId){
                    <li><a asp-page="/@subScreen.AreaName.Split('/')[2]">@subScreen.ScreenName</a></li>
                }
            }
        }
    }
</ul>
