@page
@model com.gbg.modules.utility.Areas.Authentication.Pages.ForgetPasswordModel
@{
    ViewData["Title"] = "Forget Password";
}

@await Html.PartialAsync("_MessageAlert")

<h1>@ViewData["Title"]</h1>

<h5>Enter your email address to send an email with your new password</h5>

<form method="post" class="ForgetPassword-form">

    <div class="form-group mb-3">
        <label asp-for="Input.Email" class="control-label">Email Address <span class="text-danger">*</span></label>
        <input asp-for="Input.Email" class="form-control" placeholder="Enter your email.." required />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" id="login-button">Submit</button>
        <a asp-page="/Login" class="btn btn-secondary btn-block" id="password-button">Back to Login</a>
    </div>
</form>

